@model IEnumerable<DonattoTech.BugTracker.Core.Models.Bug>
@{
    ViewData["Title"] = "Home Page";
    string[] TableHeaders = new string[]
    {
       "Titulo"
      ,"Descrição"
      ,"Produto"
      ,"Versão"
      ,"Status"
      ,"Tipo"
      ,"Inclusão"
    };
}

<section>
    <div class="grid-base">
        
        <h1>Bugs</h1>
        <p>Todos os bugs relatados.</p>

       <table class="table">
            <tr>
                @{
                    foreach (var head in TableHeaders)
                    {
                        <th>
                            @head
                        </th>
                    }
                 }
            </tr>

            @if (Model != null)
            {
                @foreach (var item in Model)
                {
                    @await Html.PartialAsync("_Bug", item)
                }
            }
       </table>
    </div>
</section>