@model IEnumerable<DonattoTech.BugTracker.Core.Models.Bug>
@{
    ViewData["Title"] = "Home Page";
    string[] TableHeaders = new string[]
    {
       "Titulo"
      ,"Descrição"
      ,"Produto"
      ,"Versão"
      ,"Status"
      ,"Tipo"
    };
}

<section>
    <div class="grid-base">
        <h5>Bugs recentes</h5><br>
        @*@foreach (var item in Model)
        {
            @await Html.PartialAsync("_Bug", item)
        }*@
    </div>
</section>